* {
  margin: 0%;
  padding: 0%;
}

h2 {
  text-align: center;
  margin: 20px;
  font-family: roboto;
}

h3 {
  text-align: center;
  font-family: roboto;
}

p {
  font-family: monserrat;
}

body {
  color: #fff;
  background-color: rgb(29, 29, 29);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

header {
  grid-row: 1;
  grid-column: 1/span 2;
}
header nav {
  padding: 0% 10px !important;
}
header nav .img img {
  width: 125px;
}
header nav .navbar-collapse {
  padding: 0px;
  display: flex;
  justify-content: end;
}

main {
  grid-row: 2;
  grid-column: 1;
}

.art-one {
  display: grid;
  grid-template-columns: 90% auto;
  grid-template-rows: 70% auto;
}
.art-one .conten-main {
  grid-column: 1;
  display: flex;
  justify-content: center;
}
.art-one .conten-main .contenedor {
  flex-direction: row;
  justify-content: center;
  background-color: #fff;
  width: 60%;
  border-radius: 5px;
  margin: 20px;
}
.art-one .conten-main .contenedor .name h1 {
  margin: 10px;
  font-size: 110px;
  font-weight: bolder;
  color: rgb(60, 204, 132);
}
.art-one .conten-main .contenedor .text {
  grid-column: 1;
  width: 65%;
  background: rgb(60, 204, 132);
  background: linear-gradient(230deg, rgb(49, 163, 106) 0%, rgb(37, 167, 139) 100%);
  border-radius: 5px;
}
.art-one .conten-main .contenedor .text p {
  margin: 0%;
  padding: 5px;
}
.art-one aside {
  grid-column: 2;
  align-self: center;
}
.art-one aside p {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  text-align: center;
}
.art-one aside p i {
  font-size: 40px;
  margin-bottom: 20px;
  color: rgb(255, 255, 255);
}
.art-one aside p .fa-instagram:hover {
  border-radius: 10px;
  background: rgb(64, 93, 230);
  background: linear-gradient(180deg, rgb(64, 93, 230) 0%, rgb(225, 48, 108) 35%, rgb(252, 175, 69) 100%);
}
.art-one aside p .fa-facebook:hover {
  color: #4267B2;
}
.art-one aside p .fa-linkedin:hover {
  color: #0e76a8;
}
.art-one aside p .fa-whatsapp:hover {
  color: #25D366;
}

.text-y {
  position: absolute;
  top: 240px;
  left: 55%;
  grid-column: 2;
  grid-row: 1/span 2;
  transform: rotate(270deg);
  height: 85px;
  width: 300px;
  color: rgb(255, 255, 255);
  font-size: 30px;
}
.text-y a {
  text-decoration: none;
  color: rgb(60, 204, 132);
  font-weight: bolder;
}
.text-y a:hover {
  color: rgb(51, 167, 109);
}

.servicios {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.servicios .ser {
  display: flex;
  justify-content: center;
}
.servicios .ser .servi-one {
  border: rgb(57, 24, 203) solid;
  grid-column: 1;
  width: 70%;
  border-radius: 15px;
}
.servicios .ser .servi-one p, .servicios .ser .servi-one h3 {
  text-align: center;
  text-shadow: rgb(73, 73, 73) 2px 1px 1px;
}
.servicios .ser .servi-one:hover {
  background: rgb(57, 24, 203);
  background: linear-gradient(230deg, rgb(57, 24, 203) 0%, rgb(206, 75, 241) 100%);
}
.servicios .ser .servi-two {
  border: rgb(187, 19, 75) solid;
  grid-column: 2;
  width: 70%;
  border-radius: 15px;
}
.servicios .ser .servi-two p, .servicios .ser .servi-two h3 {
  text-align: center;
  text-shadow: rgb(73, 73, 73) 2px 1px 1px;
}
.servicios .ser .servi-two:hover {
  background: rgb(238, 165, 95);
  background: linear-gradient(230deg, rgb(238, 165, 95) 0%, rgb(187, 19, 75) 100%);
}

.porta {
  display: flex;
  justify-content: space-around;
}

.cuadrado {
  width: 300px;
  height: 300px;
  background-color: azure;
  border-radius: 20px;
}

.tecnologias {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.tecnologias .fa-brands {
  font-size: 50px;
  transition: all 0.3s;
  width: 0px;
}
.tecnologias .fa-brands:hover {
  height: 150px;
  color: rgb(60, 204, 132);
}
.tecnologias ul {
  display: inline-block;
  position: relative;
  list-style: none;
}
.tecnologias ul ul li {
  display: none;
  position: absolute;
  width: 100%;
  overflow: auto;
}
.tecnologias ul:hover ul li {
  display: block;
  width: 200px;
  position: absolute;
  top: 15px;
  left: -75px;
}
.tecnologias ul:hover ul .punta-izq {
  left: -10px;
}
.tecnologias ul:hover ul .punta-der {
  left: -100px;
}
.tecnologias .info-desple {
  padding: 0;
}

.form-text {
  display: grid;
  grid-template-columns: 50% auto;
}

.text-f {
  grid-column: 1;
}
.text-f h3 {
  font-size: 30px;
  color: #fff;
}
.text-f p {
  font-size: 17px;
  color: #fff;
  margin: 15px;
}

form {
  grid-column: 2;
  margin: 10px 20px;
}

footer {
  grid-row: 3;
  grid-column: 1;
}
footer h2 {
  margin-top: 10px;
}
footer p {
  text-align: center;
}
footer p i {
  font-size: 40px;
  margin: 10px 20px;
  color: rgb(255, 255, 255);
}
footer p .fa-instagram:hover {
  border-radius: 10px;
  background: rgb(64, 93, 230);
  background: linear-gradient(180deg, rgb(64, 93, 230) 0%, rgb(225, 48, 108) 35%, rgb(252, 175, 69) 100%);
}
footer p .fa-facebook:hover {
  color: #4267B2;
}
footer p .fa-linkedin:hover {
  color: #0e76a8;
}
footer p .fa-whatsapp:hover {
  color: #25D366;
}

@media screen and (min-width: 768px) and (max-width: 1000px) {
  .art-one {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70% auto auto;
  }
  .art-one .conten-main {
    grid-column: 1;
    display: flex;
    justify-content: center;
  }
  .art-one .conten-main .contenedor {
    width: 70%;
  }
  .art-one .conten-main .contenedor .name h1 {
    font-size: 90px;
  }
  .art-one .conten-main .contenedor .text {
    grid-column: 1;
    width: 70%;
  }
  .art-one .text-y {
    top: 220px;
    left: 60%;
    grid-column: 2;
    grid-row: 1/span 2;
    transform: rotate(270deg);
    height: 85px;
    width: 300px;
    color: rgb(255, 255, 255);
    font-size: 30px;
  }
  .art-one .text-y a {
    text-decoration: none;
    color: rgb(60, 204, 132);
    font-weight: bolder;
  }
  .art-one .text-y a:hover {
    color: rgb(51, 167, 109);
  }
  .art-one aside {
    grid-column: 1;
    grid-row: 3;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .art-one aside p {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    text-align: center;
  }
  .art-one aside p i {
    margin: 0 20px;
  }
}
@media screen and (min-width: 640px) and (max-width: 768px) {
  .art-one {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
  }
  .art-one .conten-main {
    grid-column: 1;
    display: flex;
    justify-content: center;
  }
  .art-one .conten-main .contenedor {
    width: 75%;
  }
  .art-one .conten-main .contenedor .name h1 {
    text-align: center;
    font-size: 90px;
  }
  .art-one .conten-main .contenedor .text {
    grid-column: 1;
    width: 100%;
  }
  .art-one .text-y {
    position: static;
    text-align: center;
    transform: rotate(0deg);
    width: 100%;
    height: auto;
  }
  .art-one aside {
    grid-column: 1;
    grid-row: 2;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .art-one aside p {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    text-align: center;
  }
  .art-one aside p i {
    margin: 0 20px;
  }
  ul:hover ul .punta-der {
    left: -130px !important;
  }
}
@media screen and (min-width: 450px) and (max-width: 640px) {
  .art-one {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
  }
  .art-one .conten-main {
    grid-column: 1;
    display: flex;
    justify-content: center;
  }
  .art-one .conten-main .contenedor {
    width: 75%;
  }
  .art-one .conten-main .contenedor .name h1 {
    text-align: center;
    font-size: 70px;
  }
  .art-one .conten-main .contenedor .text {
    grid-column: 1;
    width: 100%;
  }
  .art-one .text-y {
    position: static;
    text-align: center;
    transform: rotate(0deg);
    width: 100%;
    height: auto;
  }
  .art-one aside {
    grid-column: 1;
    grid-row: 2;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .art-one aside p {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    text-align: center;
  }
  .art-one aside p i {
    margin: 0 20px;
  }
  ul:hover ul .punta-der {
    left: -130px !important;
  }
  .servicios {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
  }
  .servicios .ser {
    display: flex;
    justify-content: center;
  }
  .servicios .ser .servi-one {
    grid-row: 1;
    margin-bottom: 20px;
  }
  .servicios .ser .servi-two {
    grid-row: 2;
  }
  .cuadra {
    display: flex;
    justify-content: center;
  }
  .cuadrado {
    margin: 20px;
  }
  .porta {
    display: flex;
    flex-direction: column;
  }
  .form-text {
    display: grid;
    grid-template-columns: 1fr;
  }
  .text-f {
    grid-column: 1;
  }
  .text-f h3 {
    font-size: 30px;
    color: #fff;
  }
  .text-f p {
    text-align: center;
    font-size: 17px;
    color: #fff;
    margin: 15px;
  }
  form {
    grid-column: 1;
    margin: 10px 20px;
  }
}
@media screen and (min-width: 0px) and (max-width: 450px) {
  .art-one {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
  }
  .art-one .conten-main {
    grid-column: 1;
    display: flex;
    justify-content: center;
  }
  .art-one .conten-main .contenedor {
    width: 85%;
  }
  .art-one .conten-main .contenedor .name h1 {
    text-align: center;
    font-size: 60px;
  }
  .art-one .conten-main .contenedor .text {
    grid-column: 1;
    width: 100%;
  }
  .art-one .text-y {
    position: static;
    text-align: center;
    transform: rotate(0deg);
    width: 100%;
    height: auto;
  }
  .art-one aside {
    grid-column: 1;
    grid-row: 2;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .art-one aside p {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    text-align: center;
  }
  .art-one aside p i {
    margin: 0 20px;
  }
  ul:hover ul .punta-der {
    left: -130px !important;
  }
  .servicios {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
  }
  .servicios .ser {
    display: flex;
    justify-content: center;
  }
  .servicios .ser .servi-one {
    grid-row: 1;
    margin-bottom: 20px;
  }
  .servicios .ser .servi-two {
    grid-row: 2;
  }
  .cuadra {
    display: flex;
    justify-content: center;
  }
  .cuadrado {
    margin: 20px;
  }
  .porta {
    display: flex;
    flex-direction: column;
  }
  .tecnologias {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }
  .tecnologias ul:hover ul li {
    display: block;
    width: 200px;
    position: absolute;
    top: 15px;
    left: -80px;
  }
  .tecnologias ul:hover ul .punta-izq {
    left: -80px;
  }
  .tecnologias ul:hover ul .punta-der {
    left: -80px !important;
  }
  .tecnologias .info-desple {
    padding: 0;
  }
  .tecno {
    text-align: center;
  }
  .form-text {
    display: grid;
    grid-template-columns: 1fr;
  }
  .text-f {
    grid-column: 1;
  }
  .text-f h3 {
    font-size: 30px;
    color: #fff;
  }
  .text-f p {
    text-align: center;
    font-size: 17px;
    color: #fff;
    margin: 15px;
  }
  form {
    grid-column: 1;
    margin: 10px 20px;
  }
}/*# sourceMappingURL=estilos.css.map */